/* colours */
:root {
  --primary: #e3f2fd;
  --secondary: #1e88e5;
  --title: #2196f3;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a {
  text-transform: uppercase;
  color: var(--title);
}
nav a span {
  font-weight: bold;
}
/* nav .sidenav-trigger {
  margin: 0;
} */

nav .app-name{
  margin-left: 5%;
}

.auth{
  margin-right: 15px;
  margin-top: 10px;
}


.sidenav-fixed{
  background: var(--primary);
  height: 100%;
}
#side-menu{
   background: var(--primary);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
#side-menu.full-height {
  height: 900px; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Add a vertical scrollbar if needed */
}

/* transactions styles */
.transactions {
  margin-top: 20px;
}

a.transaction-add {
background-color: #1e88e5;
margin-top: 5px;
margin-right: 10px;
}

.transaction img {
  grid-area: image;
  max-width: 60px;
}
.transaction-details {
  grid-area: details;
  margin-top: 6px;
}

.transaction-edit {
  grid-area: edit;
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.transaction-delete {
  color: #f44336;
  cursor: pointer;
}
.edit-transaction {
  color: #1e88e5;
  cursor: pointer;
}

.transaction-title {
  font-weight: bold;
}
.transaction-ingredients {
  font-size: 0.8em;
}
.transaction-table{
  margin-top: 30px;
}
/* form-styles */
.add-btn {
  background: var(--title) !important;
}
input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
select {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}
form .input-field {
  margin-top: 30px;
}

.side-form-btn {
  background: var(--title);
  top: 8px;
}

.side-form-btn:hover,
.side-form button:hover {
  background: var(--primary);
}

/* Charts styling */

.charts{
  margin-top:25px;
}


/* Fallback styles */

.message{
  font-size: x-large;
}